<!DOCTYPE html>
<html lang="en">

<head>
    <title>輿情分析平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            {% include 'navbar.html' %}

            <div class="col-lg-12">
                <h1>新聞類別判斷系統</h1>
                <p>BERT模型是Google開發的語言模型(Language Model)，該模型是從海量語料庫文字(維基百科等)訓練得到的字向量(word vectors)表達，蘊含有文字語意，在NLP文字理解任務中得到史無前例的進展，此處將其應用於新聞類別分類任務。</p>
            </div>

            <!-- row card -->
            <div class="col-lg-6 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h4>新聞類別分類器</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="textarea_content">輸入一段新聞文字...</label><textarea class="form-control"
                                id="textarea_content" name="textarea_text" rows="6">中央社報導...</textarea>
                        </div>

                        <button type="button" class="btn btn-primary" id="btn_deep">BERT深度模型</button>

                    </div>
                </div>
            </div><!-- column -->

            <!-- Show sentiment score (probability) -->
            <div class="col-lg-6 mb-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">判讀結果</h3>
                    </div>
                    <div class="card-body">
                        <!-- Show sentiment score (probability) -->
                        <ul id="show_category_proba"></ul>
                    </div>
                </div>
            </div><!-- column -->

        </div>
    </div>

</body>

</html>

<!-- Here are our javascript code -->
<script>

    // default text 
    $('#textarea_content').val("晶圓代工廠力積電 (6770-TW) 今 (10) 日公告 5 月營收 74.01 億元，在產能持續滿載，價格揚升下，營收月增 1.02%，年增 42.84%，連續 3 個月站穩 70 億元大關病並改寫新高；前 5 月累計營收 354.36 億元，年增 51.64%。");

    const target_div = document.getElementById("show_category_proba");

    //-- btn_deep on click event
    $('#btn_deep').on('click', function (e) {
        call_ajax();
    });

    //--ajax function for getting sentimental score
    function call_ajax() {
        const input_text = $('#textarea_content').val();
        console.log(input_text);
        target_div.innerHTML = ''; //顯示區先要清空
        $.ajax({
            type: "POST",
            // way #1: url path
            url: "api_get_news_category/",
            // way #2: call the first API 
            //url: "http://127.0.0.1:8000/api_get_news_category/",
            data: {
                "input_text": input_text,
            },
            success: function (received) {
                const item = received;
                console.log(item);
                const label = received['label'];
                const proba = received['proba'];
                $('#show_category_proba').append("<li>新聞類別:" + label + "</li>");
                target_div.innerHTML += "<li>機率:" + proba + "</li>";



            } //function
        }); //ajax

    } //ajax function

</script>
