<!DOCTYPE html>
<html lang="en">
  <head>
    <title>台股熱門公司觀測站</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        {% include 'navbar.html' %}

        <div class="col-lg-12">
          <h1>台股熱門公司觀測站</h1>
          <h3>鴻海、中華電、英業達 大PK</h3>
        </div>

        <!-- 顯示區塊-->
        <div class="col-lg-6 ">
          <div class="card">
            <div class="card-header">
              <h3 class="h6 text-uppercase mb-0">
                排行榜(資料週期:5/12-5/18)
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <!-- Leaderboard Container -->
                <div class="container">
                  <!-- Leaderboard Heading -->
                  <h3>網路聲量</h3>
                  <p>
                    網路聲量是什麼？
                    計算新聞報導提及的文章則數，聲量越高表示能見度越高。<br />
                    
                  </p>
                  <hr />
                  <!-- Leaderboard Content -->
                  <div id="leaderboardDisplay"></div>
                </div>
                <!-- /.container -->
              </div>
              
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h3 class="h6 text-uppercase mb-0">
                排行榜(資料週期:5/12-5/18)
              </h3>
            </div>
            
            <div class="card-body">
              <!-- description -->
              <h3>依據新聞類別統計網路聲量</h3>
              {% comment %} <p>在哪個時間點被新聞報導最多?</p> {% endcomment %}
              <hr />
              <canvas id="pkBarChart"></canvas>
            </div>
          </div>
        </div>
        <!-- 區塊結束-->

        <!-- 繪圖區塊-->
        <div class="col-lg-6 ">
          <div class="card">
            <div class="card-header">
              <h3 class="h6 text-uppercase mb-0">股價</h3>
            </div>
            <div class="card-body">
              <!-- description -->
              <h3>鴻海</h3>
              
              <hr />
              <canvas id="pkLineChart"></canvas>
              <h3>中華電</h3>
              
              <hr />
              <canvas id="pkLineChart2"></canvas>
              <h3>英業達</h3>
              
              <hr />
              <canvas id="pkLineChart3"></canvas>


            </div>
          </div>
        </div>
        
        
        
        <!-- 區塊結束-->

        <!-- 顯示區塊-->
        
        
        <!-- 區塊結束-->
      </div>
      <!-- row結束-->
    </div>
    <!-- container結束-->
  </body>
</html>

<!-- jQuery指令用到的js-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<!-- 繪製line chart會用到，必須在chartjs之前先載入 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>

<!-- chartjs圖js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

<script>
  // 字串格式函數 先載入 讓後面的程式可以使用
  //Customize the String.format()
  //reference: https://www.cnblogs.com/taoweiji/p/3260883.html

  // let result = "{0}----{1}".format("xx","yy")
  String.prototype.format = function () {
    var result = this;
    if (arguments.length == 0) return null;
    for (var i = 0; i < arguments.length; i++) {
      var re = new RegExp("\\{" + i + "\\}", "gm");
      result = result.replace(re, arguments[i]);
    }
    return result;
  };

  // Another alternative way
  // let result = String.format("{0}  {1}", "Apple","Pineapple")
  String.format = function () {
    if (arguments.length == 0) return null;
    var str = arguments[0];
    for (var i = 1; i < arguments.length; i++) {
      var re = new RegExp("\\{" + (i - 1) + "\\}", "gm");
      str = str.replace(re, arguments[i]);
    }
    return str;
  };
</script>

<script>
  /*
  (1) 讀取方式1: 使用jinga2語法  ==> 參考"陳時中聲量我最大APP"的寫法。
  How does JavaScript read data from Django server
  讀取Django後端送過來的資料 變數名稱寫在兩個大括弧中間即可
  加上 safe 是不讓Django做一些特殊符號的代號轉換(XSS安全機制)，否則我們拿到的資料顯示會有錯誤
  

  (2) 讀取方式2: 使用Ajax方式，此法可以做到前後端完全分離 ==> 我們最喜歡用的方式，這也是業界的標準做法。
  pk_data ={
           'list_freq_daily_line_chart': list_freq_daily_line_chart,
           'list_pkNames': list_pkNames,
           'list_colors': list_colors,
           'list_photos': list_photos,
           'list_freq_news_category': list_freq_news_category,
           'list_category': selectedCategories,
           'list_sentiInfo': list_sentimentInfo,
           'list_total_articles': list_total_articles,
           'list_total_frequency': list_total_frequency
           }
  */

  call_ajax();

  function call_ajax() {
    $.ajax({
      type: "POST",
      url: "api_get_taipei_mayor_data/",
      data: {}, // pass to server
      success: function (received) {
        console.log("ok");
        const list_freq_daily_line_chart =
          received["list_freq_daily_line_chart"];
        const list_pkNames = received["list_pkNames"];
        
        const list_freq_news_category = received["list_freq_news_category"];
        const list_categories = received["list_category"];
        
        const list_total_articles = received["list_total_articles"];
        const list_total_frequency = received["list_total_frequency"];

        //const list_colors = received["list_colors"];
        const list_colors = [
          "rgba(0,128,0,0.9)",
          "rgba(0,255,255,0.9)",
          "rgba(0,0,255,0.9)",
        ];

        // (1)Display leader board
        displayLeaderboard(
          list_pkNames,
          
          
          
          list_freq_news_category,
          list_total_articles,
          list_total_frequency
        );

        // (2)Draw bar chart
        drawBarChart(
          list_pkNames,
          list_freq_news_category,
          list_colors,
          list_categories
        );

        // (3)Draw line chart
        drawLineChart(list_pkNames, list_freq_daily_line_chart, list_colors);
        drawLineChart2(list_pkNames, list_freq_daily_line_chart, list_colors);
        drawLineChart3(list_pkNames, list_freq_daily_line_chart, list_colors);
      }, //function
    }); //ajax
  } //call_ajax()

  //*****************
  function displayLeaderboard(
    list_pkNames,
    
    
    
    list_freq_news_category,
    list_total_articles,
    list_total_frequency
  ) {
    const textColor = ["text-danger", "text-secondary", "text-primary"];

    const new_div = document.createElement("div");

    for (let i = 0; i < list_pkNames.length; i++) {
      let html_snippet = `<div class="row">
                              <div class="col-md-3">
                                  
                              </div>
                              <div class="col-md-8">
                                  <h3>{0}</h3>
                                  <p>總聲量:{1}篇 {2}次</p>
                                  
                              </div>
                          </div>
                          <hr>`;

      // 情緒分數 填入影響力{3}


      //填入資料
      html_snippet = html_snippet.format(
        
        list_pkNames[i],
        list_total_articles[i],
        list_total_frequency[i]
        
      );
      new_div.innerHTML += html_snippet;
    }
    // 一個大區塊div內部附加上去前述3個小區塊div
    document.getElementById("leaderboardDisplay").appendChild(new_div);
  } //function

  Chart.defaults.global.defaultFontSize = 15; //chart.js內定字型大小，可以自行調整

  //*********************
  // 繪製長條圖的函數
  function drawBarChart(
    list_pkNames,
    list_freq_news_category,
    list_colors,
    list_categories
  ) {
    const chartElem = document.getElementById("pkBarChart");

    // data for drawing 準備資料: 新聞篇數值 顏色 標籤 等數據 一筆一筆塞進去陣列裡
    /*
    在新聞類別的頻率次數數值:
    [[743, 110, 1, 8, 578, 1], [133, 44, 0, 2, 80, 2], [111, 93, 0, 0, 16, 0]]
    */
    //i=3
    let pkDataToDraw = new Array();
    for (let i = 0; i < list_freq_news_category.length; i++) {
      pkDataToDraw.push({
        label: list_pkNames[i], //標題 陳時中 黃珊珊  蔣萬安
        backgroundColor: list_colors[i],

        data: list_freq_news_category[i], //各自在新聞類別的頻率次數數值[743, 110, 1, 8, 578, 1]
        borderWidth: 1,
      });
    }

    let chartSpec = {
      type: "bar",
      data: {
        labels: list_categories, //['全部', '政治', '兩岸', '產經', '生活', '社會']
        datasets: pkDataToDraw, //前面整理好的繪圖的資料放在此
      },
      options: {
        legend: {
          display: true,
        },
      }, //options
    }; // let chartSpec

    // 立即繪圖並回傳
    return new Chart(chartElem, chartSpec);
  }

  //*********************
  // Line chart function
  function drawLineChart(
    list_pkNames,
    list_freq_daily_line_chart,
    list_colors
  ) {
    // 取得Line圖的元素element
    const lineChartElem = document
      .getElementById("pkLineChart")
      .getContext("2d");

    // data for drawing 準備三條線圖的資料
    /*
    在陣列中置放多組資料，例如:第1組資料細節格式如下:
     [
      {label:'陳時中', 
        borderColor:'green', 
        data:[{'x': '2022-01-29', 'y': 5},{'x': '2022-01-30', 'y': 5},{'x': '2022-01-31', 'y': 2}]},
      { 第2組資料細節 }, 
      { 第2組資料細節 }, 
     ]  

    */
    // 置放畫線的資料 (有多條線圖，置放於array中)
    let pkDataToDraw = new Array();
     {
      pkDataToDraw.push({
        label: list_pkNames[0], //圖標題名稱
        borderColor: list_colors[0], //線條顏色
        //borderColor: randomColors(1),
        borderWidth: 1,
        backgroundColor: "rgba(255,255,255,0.2)", //背景底色 
        //backgroundColor: randomColors(1),

        data: list_freq_daily_line_chart[0], //x y資料置放於data
      });
    }

    //定義繪圖規格
    let chartSpec = {
      type: "line",
      data: {
        datasets: pkDataToDraw, //繪圖的多條線資料放在此
      },
      options: {
        legend: {
          display: true,
        },
        scales: {
          xAxes: [
            {
              type: "time", // 時間軸型態的X軸
              time: {
                unit: "day", //'week' //這裡定義以天或周為單位
                displayFormats: {
                  //day: 'DD-MM-YYYY'
                  day: "MM/DD",
                },
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                 //從0開始
                responsive: true, //符合響應式
              },
              display: true,
              scaleLabel: {
                display: true,
                labelString: "股價", //Y軸顯示新聞篇數
              },
            },
          ],
        }, //scales
      }, //options
    }; // let chart_spec

    //此處不必將前圖destroy，因為只有重新載入頁面時才會畫出圖，重新載入頁面會清除所有的變數。

    /* 檢查line_chart變數是否存在，如果存在，表示已經有之前畫的圖，必須要先清除之後，再畫新的圖。否則會有新舊圖重疊現象
    用以下這種方式檢查與清除舊圖。window指的是這個頁面，這個頁面有很多變數存在，檢查line_chart是否存在，若有存在，必須要先清除之後，再畫新的圖。否則會有新舊圖重疊現象
    if (window.time_line_chart) {
      time_line_chart.destroy();
    }
    畫一張新圖(產生一個圖物件變數名稱為line_chart)
    必須全域變數--注意:前面不要有let, var, const等修飾詞
    理由: 我們要讓它存在於網頁全域變數，
    這樣我們才方便判斷是否有前一次的圖，如果存在有，要刪除之，否則，很多張圖會疊在一起
    */
    //立即繪圖並回傳圖物件 (return可以刪去，不必回傳物件，沒用到)
    new Chart(lineChartElem, chartSpec);
    //return new Chart(lineChartElem, chartSpec);
  }
  function drawLineChart2(
    list_pkNames,
    list_freq_daily_line_chart,
    list_colors
  ) {
    // 取得Line圖的元素element
    const lineChartElem = document
      .getElementById("pkLineChart2")
      .getContext("2d");

    // data for drawing 準備三條線圖的資料
    /*
    在陣列中置放多組資料，例如:第1組資料細節格式如下:
     [
      {label:'陳時中', 
        borderColor:'green', 
        data:[{'x': '2022-01-29', 'y': 5},{'x': '2022-01-30', 'y': 5},{'x': '2022-01-31', 'y': 2}]},
      { 第2組資料細節 }, 
      { 第2組資料細節 }, 
     ]  

    */
    // 置放畫線的資料 (有多條線圖，置放於array中)
    let pkDataToDraw = new Array();
     {
      pkDataToDraw.push({
        label: list_pkNames[1], //圖標題名稱
        borderColor: list_colors[1], //線條顏色
        //borderColor: randomColors(1),
        borderWidth: 1,
        backgroundColor: "rgba(255,255,255,0.2)", //背景底色 
        //backgroundColor: randomColors(1),

        data: list_freq_daily_line_chart[1], //x y資料置放於data
      });
    }

    //定義繪圖規格
    let chartSpec = {
      type: "line",
      data: {
        datasets: pkDataToDraw, //繪圖的多條線資料放在此
      },
      options: {
        legend: {
          display: true,
        },
        scales: {
          xAxes: [
            {
              type: "time", // 時間軸型態的X軸
              time: {
                unit: "day", //'week' //這裡定義以天或周為單位
                displayFormats: {
                  //day: 'DD-MM-YYYY'
                  day: "MM/DD",
                },
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                 //從0開始
                responsive: true, //符合響應式
              },
              display: true,
              scaleLabel: {
                display: true,
                labelString: "股價", //Y軸顯示新聞篇數
              },
            },
          ],
        }, //scales
      }, //options
    }; // let chart_spec

    //此處不必將前圖destroy，因為只有重新載入頁面時才會畫出圖，重新載入頁面會清除所有的變數。

    /* 檢查line_chart變數是否存在，如果存在，表示已經有之前畫的圖，必須要先清除之後，再畫新的圖。否則會有新舊圖重疊現象
    用以下這種方式檢查與清除舊圖。window指的是這個頁面，這個頁面有很多變數存在，檢查line_chart是否存在，若有存在，必須要先清除之後，再畫新的圖。否則會有新舊圖重疊現象
    if (window.time_line_chart) {
      time_line_chart.destroy();
    }
    畫一張新圖(產生一個圖物件變數名稱為line_chart)
    必須全域變數--注意:前面不要有let, var, const等修飾詞
    理由: 我們要讓它存在於網頁全域變數，
    這樣我們才方便判斷是否有前一次的圖，如果存在有，要刪除之，否則，很多張圖會疊在一起
    */
    //立即繪圖並回傳圖物件 (return可以刪去，不必回傳物件，沒用到)
    new Chart(lineChartElem, chartSpec);
    //return new Chart(lineChartElem, chartSpec);
  }
  function drawLineChart3(
    list_pkNames,
    list_freq_daily_line_chart,
    list_colors
  ) {
    // 取得Line圖的元素element
    const lineChartElem = document
      .getElementById("pkLineChart3")
      .getContext("2d");

    // data for drawing 準備三條線圖的資料
    /*
    在陣列中置放多組資料，例如:第1組資料細節格式如下:
     [
      {label:'陳時中', 
        borderColor:'green', 
        data:[{'x': '2022-01-29', 'y': 5},{'x': '2022-01-30', 'y': 5},{'x': '2022-01-31', 'y': 2}]},
      { 第2組資料細節 }, 
      { 第2組資料細節 }, 
     ]  

    */
    // 置放畫線的資料 (有多條線圖，置放於array中)
    let pkDataToDraw = new Array();
     {
      pkDataToDraw.push({
        label: list_pkNames[2], //圖標題名稱
        borderColor: list_colors[2], //線條顏色
        //borderColor: randomColors(1),
        borderWidth: 1,
        backgroundColor: "rgba(255,255,255,0.2)", //背景底色 
        //backgroundColor: randomColors(1),

        data: list_freq_daily_line_chart[2], //x y資料置放於data
      });
    }

    //定義繪圖規格
    let chartSpec = {
      type: "line",
      data: {
        datasets: pkDataToDraw, //繪圖的多條線資料放在此
      },
      options: {
        legend: {
          display: true,
        },
        scales: {
          xAxes: [
            {
              type: "time", // 時間軸型態的X軸
              time: {
                unit: "day", //'week' //這裡定義以天或周為單位
                displayFormats: {
                  //day: 'DD-MM-YYYY'
                  day: "MM/DD",
                },
              },
            },
          ],
          yAxes: [
            {
              ticks: {
                 //從0開始
                responsive: true, //符合響應式
              },
              display: true,
              scaleLabel: {
                display: true,
                labelString: "股價", //Y軸顯示新聞篇數
              },
            },
          ],
        }, //scales
      }, //options
    }; // let chart_spec

    //此處不必將前圖destroy，因為只有重新載入頁面時才會畫出圖，重新載入頁面會清除所有的變數。

    /* 檢查line_chart變數是否存在，如果存在，表示已經有之前畫的圖，必須要先清除之後，再畫新的圖。否則會有新舊圖重疊現象
    用以下這種方式檢查與清除舊圖。window指的是這個頁面，這個頁面有很多變數存在，檢查line_chart是否存在，若有存在，必須要先清除之後，再畫新的圖。否則會有新舊圖重疊現象
    if (window.time_line_chart) {
      time_line_chart.destroy();
    }
    畫一張新圖(產生一個圖物件變數名稱為line_chart)
    必須全域變數--注意:前面不要有let, var, const等修飾詞
    理由: 我們要讓它存在於網頁全域變數，
    這樣我們才方便判斷是否有前一次的圖，如果存在有，要刪除之，否則，很多張圖會疊在一起
    */
    //立即繪圖並回傳圖物件 (return可以刪去，不必回傳物件，沒用到)
    new Chart(lineChartElem, chartSpec);
    //return new Chart(lineChartElem, chartSpec);
  }
  // randomize color
  function randomColors(length) {
    var pool = [];
    for (i = 0; i < length; i++) {
      pool.push(dynamicColors());
    }

    return pool;
  }

  function dynamicColors() {
    // rgb + alpha(transparent color透明度) 透明度請自行調整 數字越小越透明
    var r = Math.floor(Math.random() * 255);
    var g = Math.floor(Math.random() * 255);
    var b = Math.floor(Math.random() * 255);
    return "rgba(" + r + "," + g + "," + b + ", 0.8)";
  }
</script>
